@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@font-face {
  font-family: "Computer Modern";
  src: url('cmunrm.woff');
}
@font-face {
  font-family: "Computer Modern";
  src: url('cmunbx.woff');
  font-weight: bold;
}
@font-face {
  font-family: "Computer Modern";
  src: url('cmunti.woff');
  font-style: italic;
}
@font-face {
  font-family: "Computer Modern";
  src: url('cmunbi.woff');
  font-style: italic;
  font-weight: bold;
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0 auto;
  padding: 0;
  font-family: "Computer Modern", Times, "Times New Roman", serif;
  min-height: 100%;
  height: 100%;
  counter-reset: section;
  position: absolute;
  width: 100%;
}
body {
  /* Font size on <html> causes iOS bug. */
  font-size: 15pt;
}
h1,
h2,
h3 {
  font-weight: 700;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
h4,
h5,
h6 {
  font-weight: 600;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
header {
  height: auto;
  position: relative;
  width: calc(100% -  7rem );
  margin-left: 7rem;
  display: block;
}
header .title {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 1rem 2rem;
  text-align: center;
  position: relative;
  z-index: 1;
  color: black;
  padding-top: 3rem;
}
header .title h1 {
  font-size: 4rem;
  margin-bottom: 1.5rem;
}
header .title p {
  font-size: 0.9rem;
  line-height: 1.7em;
  padding: 0 1rem;
}
header .title p .text {
  height: 0.9em;
}
header .title .buttons {
  margin: 0 auto;
  display: none;
}
header .title .buttons a {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border: 1px solid #aaa;
  width: auto;
  margin: 1rem;
  color: black;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
header .title .buttons a:hover {
  border-color: black;
}
header .title .buttons a:active {
  background: #ddd;
}
header .continue {
  left: 50%;
  bottom: 60px;
}
@media screen and (max-width: 600px) {
  header {
    width: 100%;
    margin-left: 0;
    height: auto;
    min-height: 0;
  }
  header .title {
    position: relative;
    top: 0;
    bottom: auto;
  }
}
.menubutton {
  display: none;
}
#menu-check {
  display: none;
}
@media screen and (max-width: 600px) {
  .menubutton {
    z-index: 5;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 36px;
    height: 40px;
    -webkit-transition: left 0.2s ease;
            transition: left 0.2s ease;
  }
  .menubutton span {
    position: relative;
    display: block;
    width: 30px;
    height: 6px;
    left: -3px;
    top: 19px;
    border-radius: 3px;
    background: #aaa;
    text-indent: -99999px;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
  }
  .menubutton span:before,
  .menubutton span:after {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 6px;
    background: #aaa;
    border-radius: 3px;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
  }
  .menubutton span:before {
    top: -12px;
  }
  .menubutton span:after {
    top: 12px;
  }
  #menu-check:checked ~ .menubutton {
    left: calc( 10rem  + 5px);
  }
  #menu-check:checked ~ .menubutton span {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    background: white;
  }
  #menu-check:checked ~ .menubutton span:before,
  #menu-check:checked ~ .menubutton span:after {
    top: 0;
  }
  #menu-check:checked ~ .menubutton span:before {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  #menu-check:checked ~ .menubutton span:after {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
div.menu {
  height: 100%;
  display: block;
  position: fixed;
  margin-top: 1rem;
  text-align: right;
  padding-left: calc(50% - 450px);
  z-index: 2;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
div.menu a {
  font-size: 1.2rem;
  position: relative;
  display: block;
  color: #aaa;
  text-decoration: none;
  padding: 0 calc(1rem + 4px);
  border-left: 0px solid #aaa;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
div.menu a:hover,
div.menu a.active {
  color: black;
}
#blog div.menu a#link-for-Blog {
  color: black;
}
@media screen and (max-width: 600px) {
  div.menu {
    z-index: 2;
    top: 0;
    left: -100%;
    background: rgba(255, 255, 255, 0.98);
    border-right: 1px solid #aaa;
    margin-top: 0;
    height: 100%;
    overflow-y: auto;
    width: 10rem;
  }
  div.menu a {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: black;
  }
  div.menu a.active {
    font-weight: bold;
  }
  div.menu a:last-of-type {
    margin-bottom: 2rem;
  }
  #menu-check:checked ~ div.menu {
    left: 0;
  }
}
@media screen and (max-width: 600px) {
  .continue {
    display: none;
  }
}
a.continue {
  display: block;
  width: 3rem;
  text-align: center;
  margin: 0 auto;
  font-size: 1.1rem;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
          transition: color 0.3s ease;
}
a.continue:after {
  content: '• • •';
  color: #aaa;
  -webkit-transition: color 0.3s ease;
          transition: color 0.3s ease;
}
a.continue:hover:after {
  color: black;
}
div.section,
article {
  position: relative;
  display: block;
  width: calc(100% -  7rem );
  margin-left: 7rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
div.section:last-of-type,
article:last-of-type {
  border-bottom: 0px;
}
div.section a,
article a {
  color: black;
}
div.section .byline,
article .byline {
  display: block;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 1rem 2rem;
  color: #aaa;
  margin-top: -2rem;
  margin-bottom: -1rem;
}
div.section .backlink a,
article .backlink a {
  text-decoration: none;
}
div.section .backlink a:hover,
article .backlink a:hover {
  text-decoration: underline;
}
div.section quote,
article quote,
div.section h2,
article h2,
div.section h3,
article h3,
div.section h4,
article h4,
div.section h5,
article h5,
div.section h6,
article h6,
div.section p,
article p,
div.section dl,
article dl,
div.section div,
article div,
div.section article,
article article,
div.section ul,
article ul,
div.section ol,
article ol {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 1rem 2rem;
}
div.section ul li,
article ul li,
div.section ol li,
article ol li {
  margin-left: 2rem;
}
div.section img,
article img,
div.section span,
article span {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
div.section h2,
article h2 {
  font-size: 3rem;
  counter-increment: section;
}
div.section h2 a,
article h2 a {
  text-decoration: none;
  color: #4d4d4d;
}
div.section h2 a:hover,
article h2 a:hover {
  color: black;
}
div.section h3,
article h3 {
  text-align: left;
  padding-bottom: 0;
}
div.section h4,
article h4 {
  text-align: left;
  padding-bottom: 0;
  margin: -0.5rem auto;
}
div.section p,
article p,
div.section dl,
article dl {
  line-height: 1.4em;
}
div.section dt,
article dt {
  margin-top: 0.8rem;
  font-weight: bold;
}
div.section dt .stars,
article dt .stars {
  display: inline-block;
  height: 0.6rem;
  background: url('../resources/stars.png') no-repeat left center;
  background-size: 3rem 0.6rem;
}
div.section dt .stars.one,
article dt .stars.one {
  width: 0.6rem;
}
div.section dt .stars.two,
article dt .stars.two {
  width: 1.2rem;
}
div.section dt .stars.three,
article dt .stars.three {
  width: 1.8rem;
}
div.section dt .stars.four,
article dt .stars.four {
  width: 2.4rem;
}
div.section dt .stars.five,
article dt .stars.five {
  width: 3rem;
}
div.section dt .LaTeX,
article dt .LaTeX {
  background-image: url('../resources/latex.png');
  background-repeat: no-repeat;
  background-size: auto 1rem;
  background-position: 0 0.2rem;
  width: 3rem;
  height: 1.8rem;
  display: inline-block;
  text-indent: -99999px;
  margin-bottom: -0.8rem;
}
article {
  min-height: 0;
  padding-top: 0;
  padding-bottom: 0;
}
article h2:before {
  content: '';
}
article:first-of-type {
  margin-top: 2rem;
}
@media screen and (max-width: 600px) {
  div.section,
  article {
    width: 100%;
    margin-left: 0;
    min-height: 0;
    padding-bottom: 0;
    padding-top: 0;
  }
  div.section h2::before,
  article h2::before {
    display: block;
  }
  div.section p:last-of-type,
  article p:last-of-type {
    padding-bottom: 0;
  }
}
.contact-form {
  display: block;
  margin: 0 auto;
  max-width: 525px;
  width: 90%;
  line-height: 0;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  font-size: 1.15rem;
  line-height: auto;
  border: 1px solid #aaa;
  border-width: 1px 1px 0px 1px;
  border-radius: 0;
  margin: 0;
  padding: 0.5rem 0.5rem 0.25rem 0.5rem;
  font-family: "Computer Modern", Times, "Times New Roman", serif;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
}
.contact-form textarea {
  height: 10em;
  border-bottom: 1px solid #aaa;
  max-width: 525px;
}
.contact-form input[type='submit'] {
  background: white;
  border: 1px solid #aaa;
  width: 50%;
  margin: 0 25%;
  margin-top: 0.5rem;
  height: auto;
}
.contact-form input[type='submit']:hover {
  border-color: black;
}
.contact-form input[type='submit']:active {
  box-shadow: inset 0px 0px 4px #aaa;
}
.pagination-centered {
  margin: 0 auto;
  width: calc(100% -  7rem );
  margin-left: 7rem;
}
.pagination-centered ul {
  text-align: center;
  list-style: none;
  text-indent: 0;
  padding: 0;
}
.pagination-centered a {
  color: black;
  text-decoration: none;
}
.pagination-centered a:hover {
  text-decoration: underline;
}
.pagination-centered li {
  display: inline-block;
  padding: 0.2rem;
}
footer {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #aaa;
  margin-left: 7rem;
  width: calc(100% -  7rem );
}
footer a {
  color: #aaa;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 600px) {
  footer {
    width: 100%;
    margin-left: 0;
  }
}
