* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    font-family: -apple-system, Helvetica, Arial, sans-serif;
    height: 100%;
    max-height: 100%;
}

body {
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 100%;
}

h1.main-header {
    text-align: center;
    font-size: 3rem;
}

.contact {
    display: none;
}

#shell {
    overflow-y: auto;
    height: calc(100% - 128px);
    page-break-inside: auto;
}

.mono {
    font-family: "Menlo", monospace;
    outline: none;
    width: auto;
    margin: 0.1rem 0;
    display: inline-block;
    font-size: 10pt;
}

.input {
    padding-left: 1.5rem;
}

.input::before {
    content: "-> ";
    position: relative;
    margin-left: -1.5rem;
    color: #009;
}

.error {
    color: #900;
}

#shell div {
    margin: 0 2rem;
}

#shell img {
    display: block;
    margin: 1rem 2rem;
    box-shadow: 0 2px 20px rgba(0,0,0,0.5);
    width: calc(100% - 4rem);
}

/* Syntax Highlighting */
.mono .command {
    color: #005;
}
.mono .string {
    color: #050;
}

/* Hide stuff for printing */
@media print {
   .mono, #shell>br, .no-print {
       display: none;
   }
   .contact {
       display: inline;
   }
   #shell {
       overflow: visible;
   }
}
