@menu-width: 7rem;
@content-width: 600px;
@muted-gray: #aaa;
@header-fonts: "Computer Modern Serif", Times, "Times New Roman", serif;
@body-fonts: "Computer Modern Serif", Times, "Times New Roman", serif;

* {
    box-sizing: border-box;
}

html, body {
    margin: 0 auto;
    padding: 0;
    font-family: @body-fonts;
	font-weight: 300;
    min-height: 100%;
    min-width: 100%;
    counter-reset: section;
    position: absolute;
    font-size: 14pt;
}

h1, h2, h3, h4, h5, h6 {
    font-family: @header-fonts;
    font-weight: 400;
}

h1 {
	font-size: 4rem;
}
h2 {
	font-size: 3rem;
}
h3 {
	font-size: 2rem;
}
h4 {
	font-size: 1.5rem;
}

.breakable {
    hyphens: auto;
}

header {
    height: auto;
    position: relative;
    width: ~"calc(100% - " @menu-width ~")";
    margin-left: @menu-width;
    display: block;

    .title {
        width: 100%;
        max-width: @content-width;
        margin: 0 auto;
        padding: 5rem 2rem 0 2rem;
        position: relative;
        z-index: 1;
        text-align: center;

        h1 {
            margin: 1rem auto;
            line-height: 1em;
            max-width: 20rem;
        }

        p {
            font-size: 0.9rem;
            line-height: 1.7em;
            padding: 0.5rem 0;
            margin: 0 auto;
            max-width: 0.6*@content-width;

            a {
            	text-decoration: none;
				color: black;

				&:hover {
					text-decoration: underline;
				}

				&.borked-email {
				  unicode-bidi: bidi-override;
				  direction: rtl;
                  font-family: "Courier New", monospace;
				}
            }
        }
    }

    .continue {
        left: 50%;
        bottom: 60px;
    }
}

.menubutton {
    display: none;
}

nav {
    height: 100%;
    display: block;
    position: fixed;
    margin-top: 1rem;
    text-align: right;
    z-index: 2;

    a {
        font-size: 1.2rem;
		line-height: 2rem;
        position: relative;
        display: block;
        color: @muted-gray;
        text-decoration: none;
        padding: 0 2rem;
        transition: all 0.2s ease;

        &:hover, &.active {
            color: black;
        }
    }
}

.continue {
    display: block;
    margin: 5rem auto;
}

main {
    margin-left: @menu-width;
    text-align: center;
}

section, article {
    position: relative;
    display: inline-block;
    width: ~"calc(100% - " @menu-width ~")";
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: left;
    vertical-align: top;
    min-width: @content-width;

    &:last-of-type {
        border-bottom: 0px;
    }

    a {
        color: black;
    }

    .byline {
        display: block;
        width: 100%;
        max-width: @content-width;
        margin: 0 auto;
        padding: 1rem 2rem;
        color: @muted-gray;
        margin-top: -2rem;
        margin-bottom: -1rem;
    }

    .backlink a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }


    quote, h2, h3, h4, h5, h6, p, dl, div, article, ul, ol {
        width: 100%;
        max-width: @content-width;
        margin: 0 auto;
        padding: 1rem 2rem;
    }

    ul li, ol li {
        margin-left: 2rem;
    }

    img, span {
        width: 100%;
        max-width: @content-width;
        margin: 0 auto;
    }

    h2 {
        padding-bottom: 0;

        &::after {
            content: "";
            display: block;
            width: ~"calc(100% + 1rem)";
            position: relative;
            top: -0.5rem;
            left: -0.5rem;
        }
    }

    h3{
        text-align: left;
        padding-top: 2rem;
        padding-bottom: 0;

        &:first-of-type {
            padding-top: 1rem;
        }
    }

    h4 {
        text-align: left;
        padding-top: 1rem;
        padding-bottom: 0;
    }

    dl {
        line-height: 1.5em;
        padding-top: 1rem;
        padding-bottom: 0em;
    }

    p {
        text-align: justify;
        text-indent: 2rem;
        line-height: 1.5em;
        padding-top: 0.5rem;
        padding-bottom: 0;
    }

	hr {
		width: ~"calc(100% - 4rem)";
		max-width:  ~"calc(" @content-width ~" - 4rem)";
		border: none;
		height: 1px;
		background: @muted-gray;
		border-radius: 1px;
	}

	emph {
		font-style: italic;
	}

    dt {
        margin-top: 0.8rem;
        font-weight: bold;

        .stars {
            display: inline-block;
            height: 0.6rem;
            background: url('../resources/stars.png') no-repeat left center;
            background-size: 3rem 0.6rem;

            &.one {
                width: 0.6rem;
            }

            &.two {
                width: 1.2rem;
            }

            &.three {
                width: 1.8rem;
            }

            &.four {
                width: 2.4rem;
            }

            &.five {
                width: 3rem;
            }
        }

        .LaTeX {
            background-image: url('../resources/latex.png');
            background-repeat: no-repeat;
            background-size: auto 1rem;
            background-position: 0 0.2rem;
            width: 3rem;
            height: 1.8rem;
            display: inline-block;
            text-indent: -99999px;
            margin-bottom: -0.8rem;
        }
    }
}

h1 + p, h2 + p, h3 + p, h4 + p {
    padding-top: 0.2rem;
    text-indent: 0;
}

footer {
	font-size: 0.8rem;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    color: @muted-gray;
    margin-left: @menu-width;
    width: ~"calc(100% - " @menu-width ~")";

    a {
        color: @muted-gray;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
