* { box-sizing: border-box; }
body {
    font: 300 16px/1.25 serif;
    background: #f4f4f4;
    position: relative;
    margin: 2rem;
    max-width: 80ch;
    min-height: calc(100dvh - 4rem);
}
nav {
    font-size: 0.8rem;
    margin-bottom: 2rem;
}
main {
    min-height: 100%;
    padding-bottom: 2rem;
}
footer {
    position: absolute;
    bottom: 0;
    font-size: 0.8rem;
}
h1, h2, h3 { margin: 1.5rem 0 0.5rem 0; }
p { margin: 0.5rem 0; }
a {
    color: #00b;
    text-underline-offset: 0.15em;
}
a:hover { color: #00f; }
a:active { color: #700; }
a:visited { color: #308; }
code { font: 0.8rem monospace; }
table {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0.5rem 0;
}
td { vertical-align: top; }
.links {
    font-weight: bold;
    margin-top: 2rem;
}
.research h4 { margin-bottom: -0.25rem; }
