html, body {
    font-size: 18px;
}

.container.welcome {
    text-align: center;
    padding: 0.5rem 1rem 2rem 1rem;

    .canvas-holder {
        display: none;
    }

    .welcome-content {
        top: 4rem;
        right: 0;
        left: 0;

        h1 {
            font-size: 3.25rem;
            line-height: 3rem;
        }

        p, .email, .phone, nav a {
            margin: 0 auto;

            span {
                display: inline-block;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .container.welcome .conditional-break {
        display: block;
    }
}

nav {
    height: 100%;
    width: 100%;
    margin-top: 3rem;

    a {
        display: block;
        position: relative;
        padding-top: 0.5rem;
        text-align: right;
        padding-right: 1rem;
        font-size: 1rem;

        &.home {
            padding-bottom: 0.5rem;
        }
    }
}

.nav-holder {
    display: block;
    position: fixed;
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 0rem;
    height: 0rem;
    top: 0;
    right: 0;
    left: revert;
    transition: height 0.5s ease, width 0.5s ease, background 0.2s linear 0.3s;
    z-index: 1000;

    footer {
        display: none;
    }

    &.showing {
        height: 100%;
        width: 100%;
        transition: height 0.5s ease, width 0.5s ease, background 0.2s linear 0s;

        footer {
            display: block;
        }
    }
}

.menu-hamburger {
    display: block;
    position: fixed;
    right: .5rem;
    top: .7rem;
    width: 1.5rem;
    height: 1.5rem;
    z-index: 1001;
}

.menu-hamburger .bar {
    stroke: black;
    stroke-width: 0;
    opacity: 1
}

.menu-hamburger .bar-top, .menu-hamburger .bar-bottom {
    transform: rotate(0) translateY(0);
    transition: all .2s ease-in-out;
}

.menu-hamburger.showing .bar-top {
    transform: translateY(20%) rotate(-135deg);
}

.menu-hamburger.showing .bar-bottom {
    transform: translateY(-20%) rotate(135deg);
}

.container {
    padding: 0 1rem 2rem 1rem;

    h1 {
        font-size: 2rem;
    }

    blockquote {
        margin-left: 0px;
        margin-right: 0px;
    }

    h2.award-year {
        width: 1em;
        transform: rotate(-90deg) translateX(-1.4em);
    }

    .award {
        padding-left: 2rem;
    }
}

footer {
    position: relative;
    width: 100%;

    .selector.help-button {
        display: none;
    }

    .separator {
        width: 0;
    }
}


// For the REALLY small screens, my surname is too long
@media screen and (max-width: 350px) {
    .welcome h1 {
        font-size: 3rem;
        margin-top: 15vh;
    }
}
