html, body {
    padding-bottom: 2rem;
}

.welcome {
    top: 0;
    transform: none;
    padding-bottom: 2rem;

    .left, .right {
        display: block;
        margin: 0;
        padding: 1rem;
        text-align: center;
        width: 100%;
        border: none;
        top: 0;

        &.first {
            top: 0;
        }
    }

    p, .email, .phone, nav a {
        margin: 0 auto;
    }
}

.container {
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    h1 {
        font-size: 3rem;
    }
}

// For the REALLY small screens...
@media screen and (max-width: 350px) {
    .welcome h1 {
        font-size: 4.5rem;
    }

    .container h2.award-year {
        width: 1em;
        transform: rotate(-90deg) translateX(-1.4em);
    }

    .container .award {
        padding-left: 2rem;
    }
}
