@offwhite: #aaa;
@font: #ddd;
@background: #242424;

::selection {
    background: #aaa;
}

html, body {
    background: @background;
    color: @font;
}

.welcome {
    p {
        color: @offwhite;
    }

    .email, .phone, nav a {
        color: @offwhite;

        &:hover {
            color: @font;
        }
    }

    .right {
        border-left-color: @offwhite;
    }
}

.container {
    a {
        color: @offwhite;

        &:hover {
            color: @font;
        }
    }

    .contact-table a {
        color: @font;
    }

    .dynamic-link a {
        color: @font;
    }
}

footer {
    background: fade(@background, 80%);

    a {
        color: @offwhite;
    }
}
