@offblack: #555;
@font: #222;
@background: #fff;

::selection {
    background: #ccc;
}

html, body {
    background: @background;
    color: @font;
}

.welcome {
    p {
        color: @offblack;
    }

    .email, .phone, nav a {
        color: @offblack;

        &:hover {
            color: @font;
        }
    }
}

nav {
    background: @background;

    a {
        color: @offblack;

        &:hover {
            color: @font;
        }

        &.active {
            color: darken(@font, 20%);
            border-color: @offblack;
        }
    }
}

.nav-holder {
    background: @background;
}

.menu-hamburger .bar {
    fill: @offblack;
}

.menu-header {
    color: @font;
}

.container {
    a {
        color: @offblack;

        &:hover, &.active {
            color: @font;
        }
    }

    .contact-table a, .dynamic-link a {
        color: @font;
    }

    blockquote {
        background: #eee;
        border-color-left: silver;
    }
}

footer {
    a {
        color: @offblack;
    }
}

.help {
    background: rgba(251, 251, 251, 0.8);

    .help-box {
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
        background: @background;

        .close-help:hover{
            border-bottom-color: @font;
        }
    }
}
